<div class="w-100 vh-100 dt">
	<div class="v-mid dtc">
    <header class="bg-white sans-serif">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="head-shadow bg-white lh-copy black pa1 tracked-tight">
          Hello, I am Orlando Vazquez.
        </h3>
			<p class="f3 measure-wide">
					I am the Head of Engineering at <a
					href="https://offworldsim.com">Offworld Defence Simulations</a>.
			</p>
			<p class="f3 measure-wide">
					I specialize in using <a href="https://unrealengine.com">Unreal
					Engine</a> to create defence-oriented training, research and
					simulation software.
			</p>
			<p class="f3 measure-wide">
					I live in Vancouver, British Columbia, Canada.
			</p>
      <ul class="f3">
				<li><a href="https://github.com/orlandov">Github</a></li>
				<li><a href="mailto:ovazquez@gmail.com">E-mail</a></li>
				<li><a href="https://www.linkedin.com/in/orlandovazquez/">LinkedIn</a></li>
				<li><a href="https://twitter.com/orlandov">Twitter</a></li>
      </ul>
		</div>
    </header>
	</div>
</div>

<!--
<a name="journal"></a>
<% for(var slug in public.journal._data) { %>
  <article class="mh-60">
    <header class="<%= public.journal._data[slug].bg_color %> sans-serif">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <time class="f6 mb2 dib ttu tracked"><small><%= public.journal._data[slug].date %></small></time>
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
					  <a class="white" href="/journal/<%= slug %>" class=""><%= public.journal._data[slug].title %></a>
          </span>
        </h3>
        <h4 class="f3 fw1 georgia i"><%= public.journal._data[slug].subtitle %></h4>
      </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center">
				<%- partial("journal/" + slug) %>

				<span class="bg-back-90 lh-copy">
					Filed under:
				 <% for(var tag in public.journal._data[slug].tags) { %>
						<a class="b" href=""><%= public.journal._data[slug].tags[tag] %></a>
					<% } %>
				</span>
    </div>
  </article>
<% }; %>

-->
